{% extends 'main/base.html'%}

{% block content %}

  <h2>{{ contest.title }}</h2><br>

  <h5>Participants:</h5>

  <table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Rating</th>
        <th scope="col">Score/Games</th>
        <th scope="col">Author</th>
      </tr>
    </thead>
    <tbody>
      {% for participant in participants %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ participant.title }}</td>
        <td>{{ participant.rating.mu }}</td>
        <td>{{ participant.get_score }}/{{ participant.no_played_games }}</td>
        <td>{{ participant.author }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <form method="post" action="#" class="form-group">
  {% csrf_token %}
  <button type="submit", name="play_game", value="play_game" class="btn btn-success">Play game</button>
  <button type="submit", name="contest", value="contest" class="btn btn-success">Start contest</button>
  <button class="btn btn-success">Show history</button>
  </form>

{% endblock %}
